**In this part we take the matrix (IR3 quant BL)and we want to have the patient IDs and corresponding Diagnosis**

-The patient ID needs to be as the same order as the BL matrix that we created previously.

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import functools

The problem with this file is that its subject row is not in the proper place.

In [2]:
final_matrix=pd.read_csv("final.csv", header=None, index_col=[0] )

In [3]:
patient_diagonises=final_matrix.rename(columns=final_matrix.iloc[0]).drop(final_matrix.index[0]).reset_index(drop=True)

all_patients_diag=patient_diagonises[["PATNO","COHORT_DEFINITION"]]
all_patients_diag

       PATNO    COHORT_DEFINITION
0       3000      Healthy Control
1       3001  Parkinson's Disease
2       3002  Parkinson's Disease
3       3003  Parkinson's Disease
4       3004      Healthy Control
...      ...                  ...
1926  160252  Parkinson's Disease
1927  161236  Parkinson's Disease
1928  162140            Prodromal
1929  162905      Healthy Control
1930  162929  Parkinson's Disease

[1931 rows x 2 columns]

In [4]:
path1=Path("/scratch/znazari/PPMI_ver_sep2022/RNA_Seq_data/my_star_ir3/quant/")

In [5]:
bl_files=pd.read_csv(path1/"bl.txt", header=None )

In [6]:
def function_names(fname):
    tokens=fname.split('.')
    return tokens[1]

In [7]:
bl_list=[]
for i in range(len(bl_files)):
    bl_list=bl_list+[function_names(bl_files.iloc[i][0])]

In [8]:
big_patients=list(patient_diagonises['PATNO'])
len(big_patients)

1931

In [9]:
len(bl_list)

1530

In [10]:
contains=[]
not_contains=[]
for i in bl_list:
    if i in big_patients:
        contains+=[i]
    else:
        not_contains+=[i]

In [11]:
len(not_contains)

407

In [12]:
len(contains)

1123

In [13]:
# selecting rows based on condition 
filtered_PIs = patient_diagonises[patient_diagonises['PATNO'].isin(contains)] 
mfiltered_PI=filtered_PIs.reset_index(drop=True)
mfiltered_PI

,PATNO,AGE_AT_VISIT,AFICBERB,ASHKJEW,BASQUE,BIRTHDT,SEX,CHLDBEAR,HANDED,HISPLAT,RAASIAN,RABLACK,RAHAWOPI,RAINDALS,RANOS,RAWHITE,COHORT_DEFINITION
0,3000,69.1,0,0,0,12/1941,0,0,1,0,0,0,0,0,0,1,Healthy Control
1,3001,65.1,0,0,0,01/1946,1,NaN,2,0,0,0,0,0,0,1,Parkinson's Disease
2,3002,67.6,0,0,0,08/1943,0,0,1,0,0,0,0,0,0,1,Parkinson's Disease
3,3003,56.7,0,0,0,07/1954,0,0,1,0,0,0,0,0,0,1,Parkinson's Disease
4,3004,59.4,0,0,0,11/1951,1,NaN,1,0,0,0,0,0,0,1,Healthy Control
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1118,90456,82.5,0,0,0,03/1931,1,NaN,2,0,0,0,0,0,0,1,Prodromal
1119,91097,67.3,0,0,0,03/1947,1,NaN,1,1,0,0,0,0,1,0,Prodromal
1120,91837,73.9,NaN,NaN,NaN,04/1940,1,NaN,1,0,0,0,0,0,0,1,Prodromal
1121,92490,72.5,0,0,0,07/1942,1,NaN,1,0,0,0,0,0,0,1,Prodromal
1122,92834,66.1,0,0,0,12/1948,1,NaN,1,0,0,0,0,0,0,1,Prodromal

In [14]:
bl_patients=pd.DataFrame(bl_list)

In [15]:
mfiltered_PI['BL_PATNO']=contains
mfiltered_PI.reset_index(drop=True)

,PATNO,AGE_AT_VISIT,AFICBERB,ASHKJEW,BASQUE,BIRTHDT,SEX,CHLDBEAR,HANDED,HISPLAT,RAASIAN,RABLACK,RAHAWOPI,RAINDALS,RANOS,RAWHITE,COHORT_DEFINITION,BL_PATNO
0,3000,69.1,0,0,0,12/1941,0,0,1,0,0,0,0,0,0,1,Healthy Control,10874
1,3001,65.1,0,0,0,01/1946,1,NaN,2,0,0,0,0,0,0,1,Parkinson's Disease,12499
2,3002,67.6,0,0,0,08/1943,0,0,1,0,0,0,0,0,0,1,Parkinson's Disease,12593
3,3003,56.7,0,0,0,07/1954,0,0,1,0,0,0,0,0,0,1,Parkinson's Disease,13039
4,3004,59.4,0,0,0,11/1951,1,NaN,1,0,0,0,0,0,0,1,Healthy Control,13424
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1118,90456,82.5,0,0,0,03/1931,1,NaN,2,0,0,0,0,0,0,1,Prodromal,60095
1119,91097,67.3,0,0,0,03/1947,1,NaN,1,1,0,0,0,0,1,0,Prodromal,60171
1120,91837,73.9,NaN,NaN,NaN,04/1940,1,NaN,1,0,0,0,0,0,0,1,Prodromal,65002
1121,92490,72.5,0,0,0,07/1942,1,NaN,1,0,0,0,0,0,0,1,Prodromal,65003
1122,92834,66.1,0,0,0,12/1948,1,NaN,1,0,0,0,0,0,0,1,Prodromal,85242

In [16]:
patno=list(mfiltered_PI['PATNO'])
bl_patno=list(mfiltered_PI['BL_PATNO'])

In [17]:
result=[]
for i in bl_patno:
    result+=[patno.index(i)]

In [18]:
len(result)

1123

In [19]:
index_result=pd.DataFrame(result)

In [20]:
mfiltered_PI['Index']=index_result

In [21]:
mfiltered_PI

,PATNO,AGE_AT_VISIT,AFICBERB,ASHKJEW,BASQUE,BIRTHDT,SEX,CHLDBEAR,HANDED,HISPLAT,RAASIAN,RABLACK,RAHAWOPI,RAINDALS,RANOS,RAWHITE,COHORT_DEFINITION,BL_PATNO,Index
0,3000,69.1,0,0,0,12/1941,0,0,1,0,0,0,0,0,0,1,Healthy Control,10874,643
1,3001,65.1,0,0,0,01/1946,1,NaN,2,0,0,0,0,0,0,1,Parkinson's Disease,12499,645
2,3002,67.6,0,0,0,08/1943,0,0,1,0,0,0,0,0,0,1,Parkinson's Disease,12593,646
3,3003,56.7,0,0,0,07/1954,0,0,1,0,0,0,0,0,0,1,Parkinson's Disease,13039,647
4,3004,59.4,0,0,0,11/1951,1,NaN,1,0,0,0,0,0,0,1,Healthy Control,13424,648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1118,90456,82.5,0,0,0,03/1931,1,NaN,2,0,0,0,0,0,0,1,Prodromal,60095,1102
1119,91097,67.3,0,0,0,03/1947,1,NaN,1,1,0,0,0,0,1,0,Prodromal,60171,1110
1120,91837,73.9,NaN,NaN,NaN,04/1940,1,NaN,1,0,0,0,0,0,0,1,Prodromal,65002,1112
1121,92490,72.5,0,0,0,07/1942,1,NaN,1,0,0,0,0,0,0,1,Prodromal,65003,1113
1122,92834,66.1,0,0,0,12/1948,1,NaN,1,0,0,0,0,0,0,1,Prodromal,85242,1117

In [22]:
new_data=mfiltered_PI.drop(columns=['PATNO','BL_PATNO'])

In [23]:
sorted_diag=new_data.sort_values(by=['Index']).reset_index(drop=True)
sorted_diag

,AGE_AT_VISIT,AFICBERB,ASHKJEW,BASQUE,BIRTHDT,SEX,CHLDBEAR,HANDED,HISPLAT,RAASIAN,RABLACK,RAHAWOPI,RAINDALS,RANOS,RAWHITE,COHORT_DEFINITION,Index
0,67.5,NaN,NaN,NaN,06/1944,1,NaN,1,0,0,0,0,0,0,1,Parkinson's Disease,0
1,57.5,0,0,0,09/1954,1,NaN,1,0,0,0,0,0,0,1,Healthy Control,1
2,60.5,0,0,0,09/1951,0,0,1,0,0,0,0,0,0,1,Parkinson's Disease,2
3,74.0,NaN,NaN,NaN,05/1938,0,0,1,0,0,0,0,0,0,1,Parkinson's Disease,3
4,64.1,0,0,0,04/1948,0,0,1,0,0,0,0,0,0,1,Parkinson's Disease,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1118,69.7,NaN,NaN,NaN,06/1944,1,NaN,1,0,0,0,0,0,0,1,Prodromal,1118
1119,46.5,NaN,NaN,NaN,08/1967,0,1,1,0,0,0,0,0,0,1,Parkinson's Disease,1119
1120,62.1,NaN,NaN,NaN,12/1951,1,NaN,1,0,0,0,0,0,0,1,Prodromal,1120
1121,58.0,NaN,NaN,NaN,02/1956,0,0,1,0,0,0,0,0,0,1,Parkinson's Disease,1121
1122,64.0,NaN,NaN,NaN,02/1950,1,NaN,1,0,0,0,0,0,0,1,Prodromal,1122

In [24]:
sorted_diag['BL_PATNO']=contains

In [25]:
semi_final=sorted_diag.drop(['Index'], axis=1)
semi_final

,AGE_AT_VISIT,AFICBERB,ASHKJEW,BASQUE,BIRTHDT,SEX,CHLDBEAR,HANDED,HISPLAT,RAASIAN,RABLACK,RAHAWOPI,RAINDALS,RANOS,RAWHITE,COHORT_DEFINITION,BL_PATNO
0,67.5,NaN,NaN,NaN,06/1944,1,NaN,1,0,0,0,0,0,0,1,Parkinson's Disease,10874
1,57.5,0,0,0,09/1954,1,NaN,1,0,0,0,0,0,0,1,Healthy Control,12499
2,60.5,0,0,0,09/1951,0,0,1,0,0,0,0,0,0,1,Parkinson's Disease,12593
3,74.0,NaN,NaN,NaN,05/1938,0,0,1,0,0,0,0,0,0,1,Parkinson's Disease,13039
4,64.1,0,0,0,04/1948,0,0,1,0,0,0,0,0,0,1,Parkinson's Disease,13424
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1118,69.7,NaN,NaN,NaN,06/1944,1,NaN,1,0,0,0,0,0,0,1,Prodromal,60095
1119,46.5,NaN,NaN,NaN,08/1967,0,1,1,0,0,0,0,0,0,1,Parkinson's Disease,60171
1120,62.1,NaN,NaN,NaN,12/1951,1,NaN,1,0,0,0,0,0,0,1,Prodromal,65002
1121,58.0,NaN,NaN,NaN,02/1956,0,0,1,0,0,0,0,0,0,1,Parkinson's Disease,65003
1122,64.0,NaN,NaN,NaN,02/1950,1,NaN,1,0,0,0,0,0,0,1,Prodromal,85242

In [26]:
#here is to sweep the two columns 
columns_titles = ["BL_PATNO","COHORT_DEFINITION"]
the_final=semi_final.reindex(columns=columns_titles)

In [27]:
the_final.to_csv("the_diagnosis_quant_ir3.txt")
the_final

     BL_PATNO    COHORT_DEFINITION
0       10874  Parkinson's Disease
1       12499      Healthy Control
2       12593  Parkinson's Disease
3       13039  Parkinson's Disease
4       13424  Parkinson's Disease
...       ...                  ...
1118    60095            Prodromal
1119    60171  Parkinson's Disease
1120    65002            Prodromal
1121    65003  Parkinson's Disease
1122    85242            Prodromal

[1123 rows x 2 columns]

In [28]:
#to check whether the two BL patient IDs and the contains!! are matching.
print(the_final['BL_PATNO'][110])
contains[110]

3229

'3229'