In [1]:
import pandas as pd
import numpy as np
import os
import glob
import functools
from pathlib import Path
import matplotlib.pyplot as plt

In [3]:
path2 = Path("/home/znazari/data") # where the output data will be saved at the end.
path3=Path("/scratch/znazari/PPMI_ver_sep2022/study_data/Subject_Characteristics/")
path4= Path("/scratch/znazari/PPMI_ver_sep2022/study_data/Study_Enrollment")
path5= Path("/scratch/znazari/PPMI_ver_sep2022/study_data/Imaging")
path6= Path("/scratch/znazari/PPMI_ver_sep2022/study_data/Archived_PPMI_Data")
path7= Path("/scratch/znazari/PPMI_ver_sep2022/study_data/Medical_History")

In [3]:
# reading the file which contains diagnosis
diago=pd.read_csv(path3/"Participant_Status.csv", header=None )
diago1=diago.rename(columns=diago.iloc[0]).drop(diago.index[0]).reset_index(drop=True)

In [4]:
directory_path = "/scratch/znazari/PPMI_ver_sep2022/study_data/Subject_Characteristics/"

file_list = os.listdir(directory_path)

file_list

['Age_at_visit.csv',
 'Demographics.csv',
 'iu_genetic_consensus_20220310.csv',
 'Subject_Cohort_History.csv',
 'PPMI_PD_Variants_Genetic_Status_WGS_20180921.csv',
 'Participant_Status.csv',
 'PPMI_Methods_PD_Variants_Table.pdf',
 'PPMI_consensus_APOE_GBA_LRRK2_coding_methods_02282022.pdf',
 'Socio-Economics.csv',
 'Family_History.csv']

The table iu_genetic_consensus (identified in the download site as ‘Consensus APOE SNPs and
GBA and LRRK2 Coding Variant Summary’) contains information about what genetic analysis has
been performed on each participant, for example whether they have been subject to genome
wide associated studies (GWAS) or RNA sequencing. Additionally, for LRRK2 and GBA, the
table shows the specific alleles of these two genes for which the participant has been tested.
This information is only sporadically updated.

In [46]:
#needs to be discussed
check_data=pd.read_csv(path3/"Participant_Status.csv")
check_data.columns

Index(['PATNO', 'COHORT', 'COHORT_DEFINITION', 'ENROLL_DATE', 'ENROLL_STATUS',
       'STATUS_DATE', 'ENROLL_AGE', 'INEXPAGE', 'AV133STDY',
       'PPMI_ONLINE_ENROLL', 'CONCOHORT', 'CONCOHORT_DEFINITION', 'CONLRRK2',
       'CONGBA', 'CONSNCA', 'CONHPSM', 'CONRBD', 'PHENOCNV', 'DIAG1',
       'DIAG1VIS', 'DIAG2', 'DIAG2VIS', 'DIAG3', 'DIAG3VIS', 'COMMENTS',
       'CONDATE', 'ENRLPINK1', 'ENRLPRKN', 'ENRLSRDC', 'ENRLHPSM', 'ENRLRBD',
       'ENRLLRRK2', 'ENRLSNCA', 'ENRLGBA'],
      dtype='object')

In [48]:
#needs to be discussed
check_data=pd.read_csv(path3/"Demographics.csv")
check_data

,REC_ID,PATNO,EVENT_ID,PAG_NAME,INFODT,AFICBERB,ASHKJEW,BASQUE,BIRTHDT,SEX,...,HANDED,HISPLAT,RAASIAN,RABLACK,RAHAWOPI,RAINDALS,RANOS,RAWHITE,ORIG_ENTRY,LAST_UPDATE
0,cdfcd193-ccab-4656-ba84-973b004e7a35,3000,SC,SCREEN,01/2011,0.0,0.0,0.0,12/1941,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,01/2011,2021-06-01 00:00:00.0
1,beaa40cc-ccbc-4507-b8d1-883e57f3ad56,3001,SC,SCREEN,02/2011,0.0,0.0,0.0,01/1946,1,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,02/2011,2022-01-06 00:00:00.0
2,98021fd9-6f8a-4bad-b8bd-16320a15091c,3002,SC,SCREEN,03/2011,0.0,0.0,0.0,08/1943,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,03/2011,2022-01-06 00:00:00.0
3,e4f48a84-f2bd-4edb-b629-8d973e248cd0,3003,SC,SCREEN,03/2011,0.0,0.0,0.0,07/1954,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,03/2011,2022-07-08 00:00:00.0
4,b6de3869-b092-4463-bdff-57dfaac28e6a,3004,SC,SCREEN,03/2011,0.0,0.0,0.0,11/1951,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,03/2011,2022-07-08 00:00:00.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2343,6b27cb00-5403-49c3-ba74-ebd86acf79b0,162994,SC,SCREEN,07/2022,0.0,0.0,0.0,01/1972,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,08/2022,2022-08-19 00:00:00.0
2344,4deeb819-838c-4231-8ff2-2b0da6b77f74,163265,SC,SCREEN,07/2022,0.0,0.0,0.0,08/1954,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,07/2022,2022-07-15 00:00:00.0
2345,22778a9e-1798-4372-9fea-23a6e99f3d3a,164900,SC,SCREEN,07/2022,0.0,0.0,0.0,01/1951,1,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,08/2022,2022-08-11 00:00:00.0
2346,6845668c-63c2-4980-99a0-f590c34de39a,167222,SC,SCREEN,08/2022,0.0,1.0,0.0,07/1966,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,08/2022,2022-08-10 00:00:00.0
2347,92fdffb9-0ad5-45ad-a3e3-74d68404da62,168306,SC,SCREEN,08/2022,0.0,0.0,0.0,05/1953,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,08/2022,2022-08-18 00:00:00.0

In [5]:
selected_rows = diago1[(diago1["ENRLGBA"] == "1")|(diago1["ENRLSNCA"] == "1")|(diago1["ENRLLRRK2"] == "1")]

In [6]:
selected_rows["PATNO"].to_csv(path2/'mutated_g_patients.csv', index=False)

## ---The external lists of patients with dopomine use ---

In [4]:

# We read a file that contains the Patient IDs that they were taking dopomine drugs, so they needed to be excluded.
patient_dopomine = pd.read_csv(path2/'Patient_IDs_taking_dopamine_drugs.txt',delimiter='\t',  header=None)
patient_dopomine = patient_dopomine.rename(columns={0: 'Pateint IDs'})
ids_to_remove = patient_dopomine['Pateint IDs'].tolist() # put the patient IDs to list
strings = [str(num) for num in ids_to_remove] # convert them as string

## -------------------------------------
## Finding the Patients using Drugs

In [54]:
directory_path = "/scratch/znazari/PPMI_ver_sep2022/study_data/Medical_History"

file_list = os.listdir(directory_path)

file_list

['Determination_of_Freezing_and_Falls.csv',
 'Other_Clinical_Features.csv',
 'Report_of_Pregnancy.csv',
 '_Tau_Substudy__Pregnancy_Test.csv',
 'Medical_Conditions_Log.csv',
 'Adverse_Event_Log.csv',
 'Surgery_for_PD_Log.csv',
 'LEDD_Concomitant_Medication_Log.csv',
 'Prodromal_History.csv',
 'Early_Imaging_Report_of_Pregnancy.csv',
 'Pregnancy_Test.csv',
 'Adverse_Event_Telephone_Assessment.csv',
 'PD_Diagnosis_History.csv',
 'Early_Imaging_Pregnancy_Test.csv',
 'PPMI_Prodromal_Diagnostic_Code_Memo_Final_09Oct18.pdf',
 'Vital_Signs.csv',
 'Early_Imaging_Adverse_Event_Telephone_Assessment.csv',
 '_Tau_Substudy__Report_of_Pregnancy.csv',
 'Features_of_Parkinsonism.csv',
 'Primary_Clinical_Diagnosis.csv',
 'General_Physical_Exam.csv',
 'Concomitant_Medication_Log.csv',
 'Early_Imaging_ECG.csv',
 'Neurological_Exam.csv',
 '_Tau_Substudy__Adverse_Event_Telephone_Assessment.csv']

In [77]:
#Details of vital signs (blood pressure, temperature, weight, height, etc.)
checking=pd.read_csv(path7/"Vital_Signs.csv" )
checking['EVENT_ID'].value_counts()

BL     1882
SC     1823
V02    1349
V04    1346
V05    1205
V06    1156
V08    1027
V07     962
V10     910
V09     806
V12     758
V01     705
V03     635
V11     629
V13     432
V14     430
V15     279
ST      208
V16     180
V17     173
V18      69
U01      63
PW       11
U02       7
RS1       4
V19       1
Name: EVENT_ID, dtype: int64

In [50]:
drug1=pd.read_csv(path4/"Inclusion_Exclusion.csv" )

In [53]:
drug2=pd.read_csv(path5/"Magnetic_Resonance_Imaging__MRI_.csv" )
drug2.columns
drug2['EVENT_ID'].value_counts()

BL     1864
V10     393
V06     388
V04     333
ST       11
U01      10
V12       9
V08       6
PW        5
SC        3
U02       1
V02       1
V13       1
Name: EVENT_ID, dtype: int64

In [19]:
drug3=pd.read_csv(path6/"Magnetic_Resonance_Imaging-Archived.csv" )
drug3.columns

Index(['REC_ID', 'F_STATUS', 'PATNO', 'EVENT_ID', 'PAG_NAME', 'INFODT',
       'MRICMPLT', 'MRIDT', 'MRIWDTI', 'MRIWRSS', 'MRIXFRYN', 'MRIRSLT',
       'MRIRSSDF', 'PDMEDYN', 'ONLDOPA', 'ONDOPAG', 'ONOTHER', 'PDMEDDT',
       'PDMEDTM', 'ORIG_ENTRY', 'LAST_UPDATE', 'QUERY', 'SITE_APRV'],
      dtype='object')

In [11]:
drug4=pd.read_csv(path7/"LEDD_Concomitant_Medication_Log.csv" )
drug4["EVENT_ID"].unique()

array(['LOG', 'V18', 'V17', 'V16', 'R16', 'R15', 'V15', 'R17', 'R18',
       'V19', 'V05', 'V04', 'R14', 'V14', 'V13', 'V12', 'V10', 'R10',
       'R13', 'R12', 'R06', 'V08', 'R08', 'V06', 'SC', 'V02', 'BL'],
      dtype=object)

In [20]:
drug4.columns

Index(['REC_ID', 'PATNO', 'EVENT_ID', 'PAG_NAME', 'INFODT', 'SEQNO', 'LEDTRT',
       'LEDDSTRMG', 'LEDDOSSTR', 'LEDDOSE', 'LEDDOSFRQ', 'STARTDT', 'STOPDT',
       'LEDD', 'ORIG_ENTRY', 'LAST_UPDATE'],
      dtype='object')

In [24]:
drug4

,REC_ID,PATNO,EVENT_ID,PAG_NAME,INFODT,SEQNO,LEDTRT,LEDDSTRMG,LEDDOSSTR,LEDDOSE,LEDDOSFRQ,STARTDT,STOPDT,LEDD,ORIG_ENTRY,LAST_UPDATE
0,370113101,3001,LOG,CMED,NaN,11,SELEGILINE,NaN,NaN,NaN,NaN,08/2012,NaN,100.00,11/2012,2020-06-25 16:04:31.0
1,501974201,3001,LOG,CMED,NaN,18,SINEMET 25/100,NaN,NaN,NaN,NaN,12/2014,03/2015,300.00,02/2015,2020-06-25 16:04:31.0
2,413441801,3001,LOG,CMED,NaN,14,ROTIGOTINE TRANSDERMAL SYSTEM,NaN,NaN,NaN,NaN,09/2013,10/2013,121.20,10/2013,2020-06-25 16:04:31.0
3,516506501,3001,LOG,CMED,NaN,19,SINEMET 25/100,NaN,NaN,NaN,NaN,03/2015,03/2016,400.00,04/2015,2020-06-25 16:04:31.0
4,733300401,3001,LOG,CMED,NaN,31,AMANTADINE,NaN,NaN,NaN,NaN,07/2018,NaN,200.00,03/2019,2020-06-25 16:04:31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6621,9b6d5e6e-3c1c-4719-a765-aed3eb59f429,150110,SC,LEDDLOG,08/2022,0,Gocovri (Amantadine CR ),137.000,137 mg PO,1.0,1.0,10/2021,NaN,200.01999999999998,08/2022,2022-08-09 00:00:00.0
6622,25745afa-1ee4-4c8a-91dd-794802b03eb4,158434,SC,LEDDLOG,06/2022,0,Pramipexole ER,0.750,0.75 mg PO,1.0,1.0,03/2022,06/2022,75.0,07/2022,2022-07-14 00:00:00.0
6623,e3c72762-90ec-48c4-9279-9f0787c9b621,158434,SC,LEDDLOG,06/2022,1,Azilect (Rasagiline),1.000,1 mg PO,1.0,1.0,03/2022,06/2022,100.0,07/2022,2022-07-14 00:00:00.0
6624,d01cd45e-6dd8-4fcc-9da9-a395ba56cb28,158449,SC,LEDDLOG,06/2022,0,Sifrol (Pramipexole),0.125,0.125 mg PO,1.0,1.0,12/2021,01/2022,12.5,06/2022,2022-06-28 00:00:00.0
6625,7d13e530-796d-46ba-adbe-45192499112f,158449,SC,LEDDLOG,06/2022,1,Prolopa (Levodopa/Benserazide),200.000,200/50 mg PO,1.0,3.0,11/2021,01/2022,600.0,06/2022,2022-06-28 00:00:00.0

In [12]:
# Convert STARTDT to datetime if it's not already
drug4['STARTDT'] = pd.to_datetime(drug4['STARTDT'])

# Find the index of the earliest date for each patient
earliest_dates_index = drug4.groupby('PATNO')['STARTDT'].idxmin()

# Select the rows corresponding to the earliest dates
earliest_dates_df = drug4.loc[earliest_dates_index, ['PATNO', 'LEDD', 'STARTDT']]

earliest_dates_df

       PATNO                LEDD    STARTDT
6       3001               50.00 2012-07-01
22      3002              120.00 2011-08-01
27      3003              200.00 2012-11-01
32      3006               50.00 2011-06-01
36      3010              100.00 2013-01-01
...      ...                 ...        ...
6617  149511               300.0 2021-08-01
6619  149945                80.0 2021-11-01
6621  150110  200.01999999999998 2021-10-01
6622  158434                75.0 2022-03-01
6625  158449               600.0 2021-11-01

[822 rows x 3 columns]

In [8]:
# keep only pateints date with base line
#Details of vital signs (blood pressure, temperature, weight, height, etc.)
check_date1=pd.read_csv(path7/"Vital_Signs.csv" )

check_date = check_date1[check_date1['EVENT_ID'] == 'BL']


# Convert INFODT to datetime if it's not already
check_date['INFODT'] = pd.to_datetime(check_date['INFODT'])

# Drop rows with missing values in the 'INFODT' column
check_date = check_date.dropna(subset=['INFODT'])

# Check if the DataFrame is empty
if not check_date.empty:
    # Find the index of the earliest date for each combination of 'PATNO' and 'EVENT_ID'
    earliest_dates_index = check_date.groupby(['PATNO', 'EVENT_ID'])['INFODT'].idxmin()

    # Select the rows corresponding to the earliest dates
    original_earliest_dates_df = check_date.loc[earliest_dates_index, ['PATNO', 'INFODT']].copy()

original_earliest_dates_df

# they are all pateints in the baseline and the corresponding date to the baseline

/tmp/ipykernel_30988/3102056087.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  check_date['INFODT'] = pd.to_datetime(check_date['INFODT'])

        PATNO     INFODT
0        3000 2011-02-01
17       3001 2011-03-01
35       3002 2011-03-01
52       3003 2011-04-01
69       3004 2011-04-01
...       ...        ...
17023  160040 2022-07-01
17027  160231 2022-08-01
17035  161236 2022-07-01
17037  162140 2022-08-01
17043  162929 2022-08-01

[1882 rows x 2 columns]

**I want to know if the patient was taking D drugs in the baseline, that date or before defenitly excluded**
look at patient BL and check when they started aking the dopmanergic drug and select the patients where their drug taking date is at the basline or before. 

I want to know if the patient was taking D drugs in the screening time, that date or before is defenetly excluded, if start taking drug after that date during the baseline that also needs to be excluded.

In [13]:
# Merge on 'PATNO'
merged_df = pd.merge(earliest_dates_df, original_earliest_dates_df, on='PATNO', suffixes=('_earliest', '_original'))

# Filter rows based on the condition
filtered_df = merged_df[merged_df['STARTDT'] <= merged_df['INFODT']]

# Select relevant columns
result_df = filtered_df[['PATNO', 'STARTDT', 'INFODT']]

result_df

      PATNO    STARTDT     INFODT
9      3021 2012-01-01 2012-04-01
10     3023 2010-01-01 2012-06-01
36     3101 2010-12-01 2012-08-01
94     3231 2008-01-01 2012-07-01
126    3330 2013-01-01 2013-01-01
..      ...        ...        ...
802  140041 2020-01-01 2022-03-01
803  142631 2021-11-01 2022-04-01
804  149511 2021-08-01 2022-07-01
805  149945 2021-11-01 2022-06-01
806  150110 2021-10-01 2022-08-01

[324 rows x 3 columns]

In [28]:
path3 = Path("/home/znazari/data/open_proteomic/")
diagnosis = pd.read_csv(path3/"patients_diagnosis.csv")
diagnosis

     PATNO  COHORT
0    53595       1
1     3029       0
2     3963       1
3     3316       0
4     3124       1
..     ...     ...
798   3812       0
799   3817       0
800   3792       1
801   3793       1
802   3917       0

[803 rows x 2 columns]

In [17]:


# Extract unique patient numbers from result_df
result_patnos = result_df['PATNO'].unique()

# Check which patient numbers in result_df also exist in diagnosis using np.isin
common_patnos = result_patnos[np.isin(result_patnos, diagnosis['PATNO'])]

common_patnos

array([ 3021,  3023,  3231,  3330,  3400,  3434,  3629,  3666,  3867,
        3910,  3951,  3972,  4024,  4112,  4123,  4125, 40273, 40338,
       40366, 40533, 40534, 40539, 40542, 40553, 40555, 40558, 40560,
       40578, 40585, 40586, 40592, 40595, 40599, 40603, 40607, 40608,
       40616, 40671, 40690, 40691, 40692, 40694, 40702, 40703, 40704,
       40707, 40709, 40713, 40714, 40733, 40754, 40755, 40756, 40760,
       40776, 40777, 40781, 40800, 40806, 40816, 40882, 41172, 41280,
       41281, 41282, 41285, 41287, 41288, 41289, 41291, 41293, 41294,
       41295, 41305, 41375, 41380, 41382, 41399, 41401, 41405, 41410,
       41411, 41412, 41420, 41438, 41486, 41488, 41519, 41522, 41568,
       41578, 41749, 41767, 41801, 41886, 41967, 41985, 41989, 42009,
       42014, 42033, 42034, 42079, 42164, 42171, 42172, 42264, 42269,
       42308, 42346, 42351, 42378, 42379, 42407, 42411, 42429, 42438,
       42447, 42448, 42451, 42452, 42453, 42454, 42455, 42456, 42724,
       43046, 43086, 50027, 50028, 50044, 50088, 50157, 50175, 50192,
       50195, 50319, 50485, 50509, 50621, 50746, 50829, 50860, 50901,
       50983, 51186, 51252, 51440, 51518, 51551, 51625, 51632, 51844,
       51914, 51971, 52062, 52128, 52146, 52530, 52678, 53339, 53595,
       53600, 53988, 54161, 55124, 55251, 55395, 55441, 55615, 55875,
       56435, 56558, 56744, 56761, 57037, 57090, 57127, 57813, 57869,
       57880, 57887, 58030, 58141, 58420, 58438, 58454, 58510, 58550,
       58671, 58783, 59507, 59649, 59724, 70188, 70326, 70354, 70463,
       70818, 71093, 71809, 71935, 72826, 73115, 73887, 73935, 74067,
       74199, 74817, 75409, 75421, 75480, 75484, 75505, 75524, 75562])

In [19]:
len(result_patnos)

324

In [4]:
mutation_patients = pd.read_csv(path2/"mutated_g_patients.csv")
new_mutation=mutation_patients['PATNO'].astype(str)
mutation_patients

      PATNO
0     40012
1     40067
2     40163
3     40273
4     40338
..      ...
758  142394
759  142848
760  148092
761  150110
762  161300

[763 rows x 1 columns]

In [15]:
# Extract unique patient numbers from result_df
result_patnos = result_df['PATNO'].unique()

# Check which patient numbers in result_df also exist in diagnosis using np.isin
common_patnos = result_patnos[np.isin(result_patnos, mutation_patients['PATNO'])]

len(common_patnos)

286