# First relative

In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from matplotlib_venn import venn2
from datetime import datetime

In [2]:
path2=Path("/scratch/znazari/PPMI_ver_sep2022/study_data/Subject_Characteristics/")

In [3]:
family_history=pd.read_csv(path2/"Family_History.csv")
family_history[["PATNO","BIOMOMPD","BIODADPD"]]

       PATNO  BIOMOMPD  BIODADPD
0       3000       0.0       0.0
1       3000       NaN       NaN
2       3001       0.0       0.0
3       3001       0.0       0.0
4       3001       NaN       NaN
...      ...       ...       ...
3251  162994       NaN       NaN
3252  163265       NaN       NaN
3253  164900       0.0       0.0
3254  167222       NaN       NaN
3255  168306       0.0       0.0

[3256 rows x 3 columns]

In [4]:
selected_patients = family_history[(family_history['BIOMOMPD'] == 1) | (family_history['BIODADPD'] == 1)][["PATNO", "BIOMOMPD", "BIODADPD"]]
selected_patients

       PATNO  BIOMOMPD  BIODADPD
13      3005       0.0       1.0
32      3018       0.0       1.0
33      3018       0.0       1.0
54      3051       0.0       1.0
55      3051       0.0       1.0
...      ...       ...       ...
3203  151311       1.0       0.0
3220  157264       0.0       1.0
3227  158117       0.0       1.0
3237  160252       1.0       0.0
3238  160277       0.0       1.0

[1004 rows x 3 columns]