**In this part we take the matrix and we want to have the patient IDs and corresponding Diagnosis**

-The patient ID needs to be as the same order as the BL matrix that we created previously.

In [38]:
import pandas as pd
import numpy as np
from pathlib import Path
import functools

Here is the folder with all the subject characteristics that we might possibly need to have

In [77]:
path1=Path("/scratch/znazari/PPMI_ver_sep2022/study_data/Subject_Characteristics/")

The problem with this file is that its subject row is not in the proper place.

In [40]:
diago=pd.read_csv(path1/"Participant_Status.csv", header=None )
diago1=diago.rename(columns=diago.iloc[0]).drop(diago.index[0]).reset_index(drop=True)
diago1

,PATNO,COHORT,COHORT_DEFINITION,ENROLL_DATE,ENROLL_STATUS,STATUS_DATE,ENROLL_AGE,INEXPAGE,AV133STDY,PPMI_ONLINE_ENROLL,...,COMMENTS,CONDATE,ENRLPINK1,ENRLPRKN,ENRLSRDC,ENRLHPSM,ENRLRBD,ENRLLRRK2,ENRLSNCA,ENRLGBA
0,3000,2,Healthy Control,02/2011,enrolled,05/2021,69.1,INEXHC,0,NO,...,NaN,06/2021,0,0,0,0,0,0,0,0
1,3001,1,Parkinson's Disease,03/2011,enrolled,09/2021,65.1,INEXPD,0,NO,...,NaN,06/2021,0,0,1,0,0,0,0,0
2,3002,1,Parkinson's Disease,03/2011,enrolled,09/2021,67.6,INEXPD,0,NO,...,NaN,06/2021,0,0,1,0,0,0,0,0
3,3003,1,Parkinson's Disease,04/2011,enrolled,01/2022,56.7,INEXPD,0,NO,...,NaN,06/2021,0,0,1,0,0,0,0,0
4,3004,2,Healthy Control,04/2011,enrolled,01/2022,59.4,INEXHC,0,YES,...,NaN,06/2021,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2346,162994,1,Parkinson's Disease,NaN,screened,07/2022,NaN,INEXPD,0,NO,...,NaN,NaN,0,0,1,0,0,0,0,0
2347,163265,1,Parkinson's Disease,NaN,screened,07/2022,NaN,INEXPD,0,YES,...,NaN,NaN,0,0,1,0,0,0,0,0
2348,164900,1,Parkinson's Disease,NaN,screened,07/2022,NaN,INEXPD,0,NO,...,NaN,NaN,0,0,1,0,0,0,0,0
2349,167222,1,Parkinson's Disease,NaN,screened,08/2022,NaN,INEXPD,0,NO,...,NaN,NaN,0,0,1,0,0,0,0,0
2350,168306,1,Parkinson's Disease,NaN,screened,08/2022,NaN,INEXPD,0,YES,...,NaN,NaN,0,0,1,0,0,0,0,0

In [41]:
#this is to select the indices of the patients that have these diseases: SNCA, GBA, LRRK2
count_SNCA = (diago1['ENRLSNCA'] != "0")
el_SNCA=count_SNCA[count_SNCA].index.values
el_SNCA
count_GBA = (diago1['ENRLGBA'] != "0")
el_GBA=count_GBA[count_GBA].index.values
el_GBA
count_LRRK2 = (diago1['ENRLLRRK2'] != "0")
el_LRRK2=count_LRRK2[count_LRRK2].index.values
el_LRRK2;

In [42]:
rut_=diago1["PATNO"]

In [43]:
li_SNCA=rut_[el_SNCA].tolist()
li_GBA=rut_[el_GBA].tolist()
li_LRRK2=rut_[el_LRRK2].tolist()

In [44]:
def Union(lst1, lst2, lst3):
    final_list = list(set(lst1) | set(lst2) | set(lst3))
    return final_list

In [47]:
patients_eli=Union(li_SNCA, li_GBA,li_LRRK2)
patients_eli;

In [59]:
#drop any rows that have "patients_eli", patient IDs in the "PATNO" column
diago1=diago1[diago1.PATNO.isin(patients_eli) == False]

In [55]:
diago1

,PATNO,COHORT,COHORT_DEFINITION,ENROLL_DATE,ENROLL_STATUS,STATUS_DATE,ENROLL_AGE,INEXPAGE,AV133STDY,PPMI_ONLINE_ENROLL,...,COMMENTS,CONDATE,ENRLPINK1,ENRLPRKN,ENRLSRDC,ENRLHPSM,ENRLRBD,ENRLLRRK2,ENRLSNCA,ENRLGBA
0,3000,2,Healthy Control,02/2011,enrolled,05/2021,69.1,INEXHC,0,NO,...,NaN,06/2021,0,0,0,0,0,0,0,0
1,3001,1,Parkinson's Disease,03/2011,enrolled,09/2021,65.1,INEXPD,0,NO,...,NaN,06/2021,0,0,1,0,0,0,0,0
2,3002,1,Parkinson's Disease,03/2011,enrolled,09/2021,67.6,INEXPD,0,NO,...,NaN,06/2021,0,0,1,0,0,0,0,0
3,3003,1,Parkinson's Disease,04/2011,enrolled,01/2022,56.7,INEXPD,0,NO,...,NaN,06/2021,0,0,1,0,0,0,0,0
4,3004,2,Healthy Control,04/2011,enrolled,01/2022,59.4,INEXHC,0,YES,...,NaN,06/2021,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2346,162994,1,Parkinson's Disease,NaN,screened,07/2022,NaN,INEXPD,0,NO,...,NaN,NaN,0,0,1,0,0,0,0,0
2347,163265,1,Parkinson's Disease,NaN,screened,07/2022,NaN,INEXPD,0,YES,...,NaN,NaN,0,0,1,0,0,0,0,0
2348,164900,1,Parkinson's Disease,NaN,screened,07/2022,NaN,INEXPD,0,NO,...,NaN,NaN,0,0,1,0,0,0,0,0
2349,167222,1,Parkinson's Disease,NaN,screened,08/2022,NaN,INEXPD,0,NO,...,NaN,NaN,0,0,1,0,0,0,0,0
2350,168306,1,Parkinson's Disease,NaN,screened,08/2022,NaN,INEXPD,0,YES,...,NaN,NaN,0,0,1,0,0,0,0,0

In [56]:
diago2=diago1[['PATNO','COHORT_DEFINITION']]

In [57]:
diago2

       PATNO    COHORT_DEFINITION
0       3000      Healthy Control
1       3001  Parkinson's Disease
2       3002  Parkinson's Disease
3       3003  Parkinson's Disease
4       3004      Healthy Control
...      ...                  ...
2346  162994  Parkinson's Disease
2347  163265  Parkinson's Disease
2348  164900  Parkinson's Disease
2349  167222  Parkinson's Disease
2350  168306  Parkinson's Disease

[1588 rows x 2 columns]

In [61]:
age_at_visit_=pd.read_csv(path1/"Age_at_visit.csv", header=None )
age_at_visit1=age_at_visit_.rename(columns=age_at_visit_.iloc[0]).drop(age_at_visit_.index[0]).reset_index(drop=True)
age_at_visit1

        PATNO EVENT_ID AGE_AT_VISIT
0        3000       BL         69.1
1        3000      R17         80.5
2        3000       SC         69.1
3        3000      V01         69.4
4        3000      V02         69.6
...       ...      ...          ...
19543  162994       SC         50.5
19544  163265       SC         67.9
19545  164900       SC         71.5
19546  167222       SC         56.1
19547  168306       SC         69.2

[19548 rows x 3 columns]

In [62]:
age_at_visit2=age_at_visit1[age_at_visit1.PATNO.isin(patients_eli) == False]

In [69]:
age_at_visit2.reset_index(drop=True, inplace=True)

In [70]:
age_at_visit2

        PATNO EVENT_ID AGE_AT_VISIT
0        3000       BL         69.1
1        3000      R17         80.5
2        3000       SC         69.1
3        3000      V01         69.4
4        3000      V02         69.6
...       ...      ...          ...
12763  162994       SC         50.5
12764  163265       SC         67.9
12765  164900       SC         71.5
12766  167222       SC         56.1
12767  168306       SC         69.2

[12768 rows x 3 columns]

In [71]:
age_at_visit3=age_at_visit2.loc[age_at_visit2['EVENT_ID'].isin(['BL'])]
age_at_visit3.reset_index(drop=True,inplace=True)

In [72]:
del age_at_visit3["EVENT_ID"]

In [88]:
race=pd.read_csv(path1/"Demographics.csv", header=None )
race23=race.rename(columns=race.iloc[0]).drop(race.index[0]).reset_index(drop=True)
race23

,REC_ID,PATNO,EVENT_ID,PAG_NAME,INFODT,AFICBERB,ASHKJEW,BASQUE,BIRTHDT,SEX,...,HANDED,HISPLAT,RAASIAN,RABLACK,RAHAWOPI,RAINDALS,RANOS,RAWHITE,ORIG_ENTRY,LAST_UPDATE
0,cdfcd193-ccab-4656-ba84-973b004e7a35,3000,SC,SCREEN,01/2011,0,0,0,12/1941,0,...,1,0,0,0,0,0,0,1,01/2011,2021-06-01 00:00:00.0
1,beaa40cc-ccbc-4507-b8d1-883e57f3ad56,3001,SC,SCREEN,02/2011,0,0,0,01/1946,1,...,2,0,0,0,0,0,0,1,02/2011,2022-01-06 00:00:00.0
2,98021fd9-6f8a-4bad-b8bd-16320a15091c,3002,SC,SCREEN,03/2011,0,0,0,08/1943,0,...,1,0,0,0,0,0,0,1,03/2011,2022-01-06 00:00:00.0
3,e4f48a84-f2bd-4edb-b629-8d973e248cd0,3003,SC,SCREEN,03/2011,0,0,0,07/1954,0,...,1,0,0,0,0,0,0,1,03/2011,2022-07-08 00:00:00.0
4,b6de3869-b092-4463-bdff-57dfaac28e6a,3004,SC,SCREEN,03/2011,0,0,0,11/1951,1,...,1,0,0,0,0,0,0,1,03/2011,2022-07-08 00:00:00.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2343,6b27cb00-5403-49c3-ba74-ebd86acf79b0,162994,SC,SCREEN,07/2022,0,0,0,01/1972,0,...,1,0,0,0,0,0,0,1,08/2022,2022-08-19 00:00:00.0
2344,4deeb819-838c-4231-8ff2-2b0da6b77f74,163265,SC,SCREEN,07/2022,0,0,0,08/1954,0,...,1,0,0,0,0,0,0,1,07/2022,2022-07-15 00:00:00.0
2345,22778a9e-1798-4372-9fea-23a6e99f3d3a,164900,SC,SCREEN,07/2022,0,0,0,01/1951,1,...,1,0,0,1,0,0,0,0,08/2022,2022-08-11 00:00:00.0
2346,6845668c-63c2-4980-99a0-f590c34de39a,167222,SC,SCREEN,08/2022,0,1,0,07/1966,1,...,1,0,0,0,0,0,0,1,08/2022,2022-08-10 00:00:00.0
2347,92fdffb9-0ad5-45ad-a3e3-74d68404da62,168306,SC,SCREEN,08/2022,0,0,0,05/1953,1,...,1,0,0,0,0,0,0,1,08/2022,2022-08-18 00:00:00.0

In [96]:
#droping muted patient IDs where its IDs written in "patients_eli"
race2=race23[race23.PATNO.isin(patients_eli) == False]
race2.reset_index(drop=True,inplace=True)
race2

,REC_ID,PATNO,EVENT_ID,PAG_NAME,INFODT,AFICBERB,ASHKJEW,BASQUE,BIRTHDT,SEX,...,HANDED,HISPLAT,RAASIAN,RABLACK,RAHAWOPI,RAINDALS,RANOS,RAWHITE,ORIG_ENTRY,LAST_UPDATE
0,cdfcd193-ccab-4656-ba84-973b004e7a35,3000,SC,SCREEN,01/2011,0,0,0,12/1941,0,...,1,0,0,0,0,0,0,1,01/2011,2021-06-01 00:00:00.0
1,beaa40cc-ccbc-4507-b8d1-883e57f3ad56,3001,SC,SCREEN,02/2011,0,0,0,01/1946,1,...,2,0,0,0,0,0,0,1,02/2011,2022-01-06 00:00:00.0
2,98021fd9-6f8a-4bad-b8bd-16320a15091c,3002,SC,SCREEN,03/2011,0,0,0,08/1943,0,...,1,0,0,0,0,0,0,1,03/2011,2022-01-06 00:00:00.0
3,e4f48a84-f2bd-4edb-b629-8d973e248cd0,3003,SC,SCREEN,03/2011,0,0,0,07/1954,0,...,1,0,0,0,0,0,0,1,03/2011,2022-07-08 00:00:00.0
4,b6de3869-b092-4463-bdff-57dfaac28e6a,3004,SC,SCREEN,03/2011,0,0,0,11/1951,1,...,1,0,0,0,0,0,0,1,03/2011,2022-07-08 00:00:00.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1581,6b27cb00-5403-49c3-ba74-ebd86acf79b0,162994,SC,SCREEN,07/2022,0,0,0,01/1972,0,...,1,0,0,0,0,0,0,1,08/2022,2022-08-19 00:00:00.0
1582,4deeb819-838c-4231-8ff2-2b0da6b77f74,163265,SC,SCREEN,07/2022,0,0,0,08/1954,0,...,1,0,0,0,0,0,0,1,07/2022,2022-07-15 00:00:00.0
1583,22778a9e-1798-4372-9fea-23a6e99f3d3a,164900,SC,SCREEN,07/2022,0,0,0,01/1951,1,...,1,0,0,1,0,0,0,0,08/2022,2022-08-11 00:00:00.0
1584,6845668c-63c2-4980-99a0-f590c34de39a,167222,SC,SCREEN,08/2022,0,1,0,07/1966,1,...,1,0,0,0,0,0,0,1,08/2022,2022-08-10 00:00:00.0
1585,92fdffb9-0ad5-45ad-a3e3-74d68404da62,168306,SC,SCREEN,08/2022,0,0,0,05/1953,1,...,1,0,0,0,0,0,0,1,08/2022,2022-08-18 00:00:00.0

In [93]:
df_new_race= race2[[
 'PATNO',
 'AFICBERB',
 'ASHKJEW',
 'BASQUE',
 'BIRTHDT',
 'SEX',
 'CHLDBEAR',
 'HANDED',
 'HISPLAT',
 'RAASIAN',
 'RABLACK',
 'RAHAWOPI',
 'RAINDALS',
 'RANOS',
 'RAWHITE']]

In [94]:
my_data_frame=pd.merge(age_at_visit3, df_new_race, on='PATNO', how='left')

In [95]:
#this is the **final matrix** that we needed to create in the beginning of this part.
final=pd.merge(my_data_frame, diago2, on='PATNO', how='left')
final.to_csv("final.csv")
final

,PATNO,AGE_AT_VISIT,AFICBERB,ASHKJEW,BASQUE,BIRTHDT,SEX,CHLDBEAR,HANDED,HISPLAT,RAASIAN,RABLACK,RAHAWOPI,RAINDALS,RANOS,RAWHITE,COHORT_DEFINITION
0,3000,69.1,0,0,0,12/1941,0,0,1,0,0,0,0,0,0,1,Healthy Control
1,3001,65.1,0,0,0,01/1946,1,NaN,2,0,0,0,0,0,0,1,Parkinson's Disease
2,3002,67.6,0,0,0,08/1943,0,0,1,0,0,0,0,0,0,1,Parkinson's Disease
3,3003,56.7,0,0,0,07/1954,0,0,1,0,0,0,0,0,0,1,Parkinson's Disease
4,3004,59.4,0,0,0,11/1951,1,NaN,1,0,0,0,0,0,0,1,Healthy Control
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1207,160252,80.3,0,0,0,05/1942,1,NaN,1,0,0,0,0,0,0,1,Parkinson's Disease
1208,161236,55.6,0,0,0,01/1967,1,NaN,1,0,0,0,0,0,0,1,Parkinson's Disease
1209,162140,68.8,0,0,0,10/1953,1,NaN,1,0,0,0,0,0,0,1,Prodromal
1210,162905,45.2,0,0,0,06/1977,1,NaN,1,0,0,1,0,0,0,0,Healthy Control
1211,162929,84.6,0,0,0,01/1938,1,NaN,1,0,0,0,0,0,0,1,Parkinson's Disease

In [97]:
patient_diagonises=final[['PATNO','COHORT_DEFINITION']]
patient_diagonises

       PATNO    COHORT_DEFINITION
0       3000      Healthy Control
1       3001  Parkinson's Disease
2       3002  Parkinson's Disease
3       3003  Parkinson's Disease
4       3004      Healthy Control
...      ...                  ...
1207  160252  Parkinson's Disease
1208  161236  Parkinson's Disease
1209  162140            Prodromal
1210  162905      Healthy Control
1211  162929  Parkinson's Disease

[1212 rows x 2 columns]

In [98]:
path_1=Path("/scratch/znazari/PPMI_ver_sep2022/RNA_Seq_data/star_ir2/counts/")

In [99]:
bl_files=pd.read_csv(path_1/"bl.txt", header=None )

In [100]:
def function_names(fname):
    tokens=fname.split('.')
    return tokens[1]

In [101]:
bl_list=[]
for i in range(len(bl_files)):
    bl_list=bl_list+[function_names(bl_files.iloc[i][0])]

In [102]:
big_patients=list(patient_diagonises['PATNO'])
len(big_patients)

1212

In [103]:
len(bl_list)

1537

In [104]:
contains=[]
not_contains=[]
for i in bl_list:
    if i in big_patients:
        contains+=[i]
    else:
        not_contains+=[i]

In [105]:
len(not_contains)

830

In [106]:
len(contains)

707

In [107]:
# selecting rows based on condition 
filtered_PIs = patient_diagonises[patient_diagonises['PATNO'].isin(contains)] 
mfiltered_PI=filtered_PIs.reset_index(drop=True)
mfiltered_PI

     PATNO    COHORT_DEFINITION
0     3000      Healthy Control
1     3001  Parkinson's Disease
2     3002  Parkinson's Disease
3     3003  Parkinson's Disease
4     3004      Healthy Control
..     ...                  ...
702  90456            Prodromal
703  91097            Prodromal
704  91837            Prodromal
705  92490            Prodromal
706  92834            Prodromal

[707 rows x 2 columns]

In [108]:
bl_patients=pd.DataFrame(bl_list)

In [109]:
mfiltered_PI['BL_PATNO']=contains
mfiltered_PI.reset_index(drop=True)

     PATNO    COHORT_DEFINITION BL_PATNO
0     3000      Healthy Control    10874
1     3001  Parkinson's Disease    12499
2     3002  Parkinson's Disease    12593
3     3003  Parkinson's Disease    13039
4     3004      Healthy Control    13424
..     ...                  ...      ...
702  90456            Prodromal    60024
703  91097            Prodromal    60036
704  91837            Prodromal    60095
705  92490            Prodromal    60171
706  92834            Prodromal    85242

[707 rows x 3 columns]

In [110]:
patno=list(mfiltered_PI['PATNO'])
bl_patno=list(mfiltered_PI['BL_PATNO'])

In [111]:
result=[]
for i in bl_patno:
    result+=[patno.index(i)]

In [112]:
len(result)

707

In [113]:
index_result=pd.DataFrame(result)

In [114]:
mfiltered_PI['Index']=index_result

In [115]:
mfiltered_PI

     PATNO    COHORT_DEFINITION BL_PATNO  Index
0     3000      Healthy Control    10874    648
1     3001  Parkinson's Disease    12499    650
2     3002  Parkinson's Disease    12593    651
3     3003  Parkinson's Disease    13039    652
4     3004      Healthy Control    13424    653
..     ...                  ...      ...    ...
702  90456            Prodromal    60024    674
703  91097            Prodromal    60036    677
704  91837            Prodromal    60095    692
705  92490            Prodromal    60171    699
706  92834            Prodromal    85242    701

[707 rows x 4 columns]

In [116]:
new_data=mfiltered_PI.drop(columns=['PATNO','BL_PATNO'])

In [117]:
sorted_diag=new_data.sort_values(by=['Index']).reset_index(drop=True)
sorted_diag

       COHORT_DEFINITION  Index
0    Parkinson's Disease      0
1        Healthy Control      1
2    Parkinson's Disease      2
3    Parkinson's Disease      3
4    Parkinson's Disease      4
..                   ...    ...
702                SWEDD    702
703                SWEDD    703
704                SWEDD    704
705  Parkinson's Disease    705
706                SWEDD    706

[707 rows x 2 columns]

In [118]:
sorted_diag['BL_PATNO']=contains

In [119]:
semi_final=sorted_diag.drop(['Index'], axis=1)
semi_final

       COHORT_DEFINITION BL_PATNO
0    Parkinson's Disease    10874
1        Healthy Control    12499
2    Parkinson's Disease    12593
3    Parkinson's Disease    13039
4    Parkinson's Disease    13424
..                   ...      ...
702                SWEDD    60024
703                SWEDD    60036
704                SWEDD    60095
705  Parkinson's Disease    60171
706                SWEDD    85242

[707 rows x 2 columns]

In [120]:
#here is to sweep the two columns 
columns_titles = ["BL_PATNO","COHORT_DEFINITION"]
the_final=semi_final.reindex(columns=columns_titles)

In [ ]:
ml_path=Path("/home/znazari/machine_learning_ppmi")

In [134]:
the_final.to_csv(ml_path/"the_diagnosis_count_ir2.txt")
the_final

    BL_PATNO    COHORT_DEFINITION
0      10874  Parkinson's Disease
1      12499      Healthy Control
2      12593  Parkinson's Disease
3      13039  Parkinson's Disease
4      13424  Parkinson's Disease
..       ...                  ...
702    60024                SWEDD
703    60036                SWEDD
704    60095                SWEDD
705    60171  Parkinson's Disease
706    85242                SWEDD

[707 rows x 2 columns]

In [133]:
sum(the_final["COHORT_DEFINITION"]=="Prodromal")

58

In [124]:
#to check whether the two BL patient IDs and the contains!! are matching.
print(the_final['BL_PATNO'][110])
contains[110]

3229

'3229'