# UPSIT PDBP Data

In [1]:
from pathlib import Path
import pandas as pd
from datetime import datetime

In [2]:
path = Path("/Users/zainabnazari/large_data_ppmi/releases_2023_v4release_1027_clinical")
path1 = Path("/Users/zainabnazari/large_data_ppmi")

In [3]:
upsit = pd.read_csv(path/"releases_2023_v4release_1027_clinical_UPSIT.csv")
upsit

,participant_id,GUID,visit_name,visit_month,upsit_performed,score_from_booklet_1,score_from_booklet_2,score_from_booklet_3,score_from_booklet_4,upsit_total_score
0,LC-1000005,NaN,M0,0,NaN,5.0,5.0,7.0,6.0,23.0
1,LC-1000006,NaN,M0,0,NaN,5.0,6.0,7.0,9.0,27.0
2,LC-100001,NaN,M0,0,NaN,9.0,10.0,7.0,9.0,35.0
3,LC-100001,NaN,M12,12,NaN,8.0,7.0,7.0,8.0,30.0
4,LC-100001,NaN,M24,24,NaN,7.0,6.0,8.0,9.0,30.0
...,...,...,...,...,...,...,...,...,...,...
6496,PP-41299,NaN,M0,0,NaN,8.0,6.0,NaN,NaN,14.0
6497,PD-PDCJ402TKD,PDCJ402TKD,M36,36,Completed,9.0,9.0,10.0,8.0,36.0
6498,PD-PDCJ402TKD,PDCJ402TKD,M0,0,Completed,NaN,NaN,NaN,NaN,36.0
6499,PD-PDCJ402TKD,PDCJ402TKD,M12,12,Completed,8.0,9.0,9.0,9.0,35.0
6500,PD-PDCJ402TKD,PDCJ402TKD,M24,24,Completed,6.0,9.0,7.0,9.0,31.0

In [4]:
pdbp_list_upsit = upsit[upsit['participant_id'].str.startswith('PD-')]
data_baseline= pdbp_list_upsit[pdbp_list_upsit['visit_name']=="M0"]

In [5]:
with_columns= data_baseline[['participant_id','score_from_booklet_1','score_from_booklet_2','score_from_booklet_3','score_from_booklet_4' ]]

In [6]:
with_columns.set_index('participant_id', inplace=True)
with_columns

,score_from_booklet_1,score_from_booklet_2,score_from_booklet_3,score_from_booklet_4
participant_id,,,,
PD-PDAA442RJC,9.0,10.0,9.0,8.0
PD-PDAA503EF5,NaN,NaN,NaN,NaN
PD-PDAA955TCY,NaN,NaN,NaN,NaN
PD-PDAB074CYQ,NaN,NaN,NaN,NaN
PD-PDAB411CTU,NaN,NaN,NaN,NaN
...,...,...,...,...
PD-PDZZ075NW6,8.0,3.0,1.0,2.0
PD-PDZZ133PFJ,NaN,NaN,NaN,NaN
PD-PDZZ298XEH,NaN,NaN,NaN,NaN
PD-PDZZ318BWK,7.0,4.0,6.0,7.0
PD-PDCJ402TKD,NaN,NaN,NaN,NaN

In [7]:
upsit_final_drop = with_columns.dropna(axis=0, how='all')
upsit_final_drop

,score_from_booklet_1,score_from_booklet_2,score_from_booklet_3,score_from_booklet_4
participant_id,,,,
PD-PDAA442RJC,9.0,10.0,9.0,8.0
PD-PDAB762PA3,4.0,3.0,2.0,4.0
PD-PDAC268KWV,5.0,9.0,6.0,4.0
PD-PDAE940EZ5,8.0,8.0,10.0,9.0
PD-PDAH345TVV,9.0,10.0,9.0,9.0
...,...,...,...,...
PD-PDZU744BG1,8.0,9.0,10.0,9.0
PD-PDZV927WXL,7.0,5.0,7.0,5.0
PD-PDZX014GKJ,7.0,9.0,7.0,9.0
PD-PDZZ075NW6,8.0,3.0,1.0,2.0
PD-PDZZ318BWK,7.0,4.0,6.0,7.0

In [8]:
diagnosis_pdbp = pd.read_csv(path/"releases_2023_v4release_1027_clinical_Enrollment.csv",delimiter=',')

filtered_df = diagnosis_pdbp[diagnosis_pdbp['participant_id'].str.startswith('PD')& (diagnosis_pdbp['visit_name'] == 'M0')]
filtered_df

,participant_id,GUID,visit_name,visit_month,enrollment_months_after_baseline,informed_consent_months_after_baseline,prodromal_category,study_arm
5895,PD-PDAA442RJC,PDAA442RJC,M0,0,-0.5,-0.5,Unknown/Not collected as enrollment criterion,Healthy Control
5896,PD-PDAA503EF5,PDAA503EF5,M0,0,-0.5,-0.5,Unknown/Not collected as enrollment criterion,PD
5897,PD-PDAA852XL7,PDAA852XL7,M0,0,-0.5,-0.5,Unknown/Not collected as enrollment criterion,Disease Control
5898,PD-PDAA955TCY,PDAA955TCY,M0,0,-1.0,-1.0,Unknown/Not collected as enrollment criterion,Healthy Control
5899,PD-PDAB074CYQ,PDAB074CYQ,M0,0,-0.5,-0.5,Unknown/Not collected as enrollment criterion,PD
...,...,...,...,...,...,...,...,...
7480,PD-PDZZ075NW6,PDZZ075NW6,M0,0,-0.5,-0.5,Unknown/Not collected as enrollment criterion,PD
7481,PD-PDZZ133PFJ,PDZZ133PFJ,M0,0,0.0,0.0,Unknown/Not collected as enrollment criterion,PD
7482,PD-PDZZ298XEH,PDZZ298XEH,M0,0,-1.0,-1.0,Unknown/Not collected as enrollment criterion,PD
7483,PD-PDZZ318BWK,PDZZ318BWK,M0,0,-0.5,-0.5,Unknown/Not collected as enrollment criterion,Healthy Control
10057,PD-PDCJ402TKD,PDCJ402TKD,M0,0,0.0,0.0,Unknown/Not collected as enrollment criterion,Healthy Control

In [9]:
diagnosis = filtered_df[['participant_id','study_arm']]
diagnosis

      participant_id        study_arm
5895   PD-PDAA442RJC  Healthy Control
5896   PD-PDAA503EF5               PD
5897   PD-PDAA852XL7  Disease Control
5898   PD-PDAA955TCY  Healthy Control
5899   PD-PDAB074CYQ               PD
...              ...              ...
7480   PD-PDZZ075NW6               PD
7481   PD-PDZZ133PFJ               PD
7482   PD-PDZZ298XEH               PD
7483   PD-PDZZ318BWK  Healthy Control
10057  PD-PDCJ402TKD  Healthy Control

[1590 rows x 2 columns]

In [10]:
# reset the column for the main file
upsit_final= upsit_final_drop.reset_index()
upsit_final

,participant_id,score_from_booklet_1,score_from_booklet_2,score_from_booklet_3,score_from_booklet_4
0,PD-PDAA442RJC,9.0,10.0,9.0,8.0
1,PD-PDAB762PA3,4.0,3.0,2.0,4.0
2,PD-PDAC268KWV,5.0,9.0,6.0,4.0
3,PD-PDAE940EZ5,8.0,8.0,10.0,9.0
4,PD-PDAH345TVV,9.0,10.0,9.0,9.0
...,...,...,...,...,...
468,PD-PDZU744BG1,8.0,9.0,10.0,9.0
469,PD-PDZV927WXL,7.0,5.0,7.0,5.0
470,PD-PDZX014GKJ,7.0,9.0,7.0,9.0
471,PD-PDZZ075NW6,8.0,3.0,1.0,2.0
472,PD-PDZZ318BWK,7.0,4.0,6.0,7.0

In [11]:
merged_df = pd.merge(upsit_final, diagnosis, on='participant_id', how='left')
merged_df

,participant_id,score_from_booklet_1,score_from_booklet_2,score_from_booklet_3,score_from_booklet_4,study_arm
0,PD-PDAA442RJC,9.0,10.0,9.0,8.0,Healthy Control
1,PD-PDAB762PA3,4.0,3.0,2.0,4.0,PD
2,PD-PDAC268KWV,5.0,9.0,6.0,4.0,PD
3,PD-PDAE940EZ5,8.0,8.0,10.0,9.0,Healthy Control
4,PD-PDAH345TVV,9.0,10.0,9.0,9.0,Healthy Control
...,...,...,...,...,...,...
468,PD-PDZU744BG1,8.0,9.0,10.0,9.0,Healthy Control
469,PD-PDZV927WXL,7.0,5.0,7.0,5.0,Healthy Control
470,PD-PDZX014GKJ,7.0,9.0,7.0,9.0,Healthy Control
471,PD-PDZZ075NW6,8.0,3.0,1.0,2.0,PD
472,PD-PDZZ318BWK,7.0,4.0,6.0,7.0,Healthy Control

In [12]:
merged_df["study_arm"].value_counts()

PD                 245
Healthy Control    209
Disease Control     19
Name: study_arm, dtype: int64

In [13]:
merged_df_filtered = merged_df[merged_df['study_arm'] != 'Disease Control']
merged_df_filtered

,participant_id,score_from_booklet_1,score_from_booklet_2,score_from_booklet_3,score_from_booklet_4,study_arm
0,PD-PDAA442RJC,9.0,10.0,9.0,8.0,Healthy Control
1,PD-PDAB762PA3,4.0,3.0,2.0,4.0,PD
2,PD-PDAC268KWV,5.0,9.0,6.0,4.0,PD
3,PD-PDAE940EZ5,8.0,8.0,10.0,9.0,Healthy Control
4,PD-PDAH345TVV,9.0,10.0,9.0,9.0,Healthy Control
...,...,...,...,...,...,...
468,PD-PDZU744BG1,8.0,9.0,10.0,9.0,Healthy Control
469,PD-PDZV927WXL,7.0,5.0,7.0,5.0,Healthy Control
470,PD-PDZX014GKJ,7.0,9.0,7.0,9.0,Healthy Control
471,PD-PDZZ075NW6,8.0,3.0,1.0,2.0,PD
472,PD-PDZZ318BWK,7.0,4.0,6.0,7.0,Healthy Control

In [14]:
merged_df_filtered['study_arm'].value_counts()

PD                 245
Healthy Control    209
Name: study_arm, dtype: int64

In [15]:
merged_df_filtered.to_csv(path1/"upsit_pdbp_454.tsv" , sep='\t', index=False)

In [16]:
current_date = datetime.now().date()

print("Last update :", current_date)

Last update : 2024-05-20